@import "./base.scss";
@import "./mixin.scss";
.header {
	@include height(86, 1292);
}
.empty {
	@include height(35, 1292);
	background: #f68e54; 
}
.center {
	@include height(1292 - 35 * 2 - 86, 1292);
}

.header-in{
	@include height(35, 86);
	@include relative(top, (86 - 35) / 2, 86);

}

.back{
	height: 100%;
	position: absolute;
	margin-left: 10px;
}

.app-name{
	text-align: center;
}

form{
	height: 100%;
}

.top-container{
	@include height(607, 1130);
}

.top-empty{
	@include height(15, 607);
	background-color: #e5e5e5;
}

.input-group{
	@include height((607 - 15 * 3) / 9, 607);
	@include border(top, 1px, #e5e5e5);
	box-sizing: border-box;
}
.before-group{
	@include width(150, 750);
	float: left;
	height: 100%;
	color: #757575;
	font-size: 14px;
}
.after-group{
	@include width(750 - 150, 750);
	height: 100%;
	float: left;
}
.input-control{
	height: 100%;
	border: none;
	width: 100%;
	font-size: 12px;
}
.bottom-container{
	@include height(1130 - 607, 1130);
}
.activity-group{
	@include height(65, 523);
	background-color: #e5e5e5;
}
.activity-content{
	@include height((523 - 65 * 2) / 2, 523);
}
textarea{
	width: 100%;
	height: 100%;
	border: none;
}
.camera{
	height: 40px;
	display: inline-block;
}
.content-center{
	text-align: center;
	line-height: 100px;
	position: relative;
}
input[type="file"]{
	width: 80px;
	height: 40px;
	position: absolute;
	margin-left: -65px;
	top: 40%;
	opacity: 0;
}
input[type="file"]{
	width: 80px;
	height: 40px;
	position: absolute;
	margin-left: -65px;
	top: calc(50% - 20px);
	opacity: 0;
}
.pull-right{
	position: absolute;
	right: 0px;
}