@import "./base.scss";
@import "./mixin.scss";

.header {
	@include height(295, 1090);
}
.center {
	@include height(670, 1090);
}
.footer{
	@include height(1090 - 295 - 670, 1090);
	background: #f68e54;
}
.person-top{
	@include height(224, 295);
	@include width(150, 640);
	margin: 0 auto;
}
.person-bottom{
	@include height(295 - 224, 295);
	background-color: #36374b;
	> .person-bottom-in{
		@include height(54, 295 - 224);
		@include relative(top, 295 - 224 -54, 295 - 224);
		> .group-average-2{
			width: 50%;
			text-align: center;
			float: left;
			color: white;

		}
		> .group-average-2:last-child{
			@include border(left, 1px, #cececd);
		}
	}
}
.circle{
	@include height(150, 224);
	background-color: blue;
	border-radius: 50%;
}
.username{
	@include height(224 - 150, 224)
	text-align: center;
}

.activity{
	@include height(100, 670);
	box-sizing: border-box;
	border-bottom: 1px solid #cececd;
}

.person-detail{
	@include height(570, 670);
}

.activity-in{
	@include height(74, 100);
	@include relative(top, 13, 100);
}

.in-in-group{
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	font-size: 12px;
	> div{
		height: 50%;
		> img{
			width: 20px;
			position: absolute;
			margin-left: -20px;
		}
	}
}

.in-in-group:first-child{
	@include border(right, 1px, #cececd);
}

.detail-control-group{
	@include height(1, 8);
	box-sizing: border-box;
	border-bottom: 1px solid #cececd;
	padding-left: 1em;
	position: relative;
	> img{
		position: absolute;
		height: 50%;
		top: 25%;
	}
	> span{
		margin-left: 30px;
	}
}

.detail-control-group:last-child{
	border: none;
}

.menu-group{
	height: 60%;
	box-sizing: border-box;
	@include relative(top, 2, 10);
}
.menu-control{
	width: 33.3333%;
	float: left;
	text-align: center;
	height: 100%;
}