@import "../sass/mixin.scss";
.header {
	@include height(86, 1292);
}
.header-in{
	@include height(35, 86);
	@include relative(top, (86 - 35) / 2, 86);
}

.back{
	height: 100%;
	position: absolute;
	margin-left: 10px;
}

.app-name{
	text-align: center;
}