@import "../sass/mixin.scss";
.search-in{
	@include width(650, 750);
	@include height(50, 62);
	@include relative(top, 6, 62);
	margin: 0 auto;
}

.select-group{
	width: 49%;
	height: 100%;
	background-color: white;
	border-radius: 4px;
	font-size: 10px;
	box-sizing: border-box;
	padding: 3px;
}